/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.features-hero
  display flex
  width auto
  height auto
  margin-top 220px
  margin-bottom 104px
  flex-direction column
  text-align center

  h1
    font-size 71px

.banner
  display flex
  padding-top 60px
  border-top 1px solid #b6b6b6
  border-bottom 1px solid #b6b6b6
  justify-content center
  align-self center

.theme-default-content:not(.custom)
  max-width 960px