/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.theme-default-content:not(.custom)
  max-width 960px

h2
  font-size 1.65rem
  padding-bottom 0.3rem
  border-bottom 1px solid #eaecef

.footer
  padding 2.5rem
  border-top 1px solid $borderColor
  text-align center
  color lighten($textColor, 25%)
  margin-top 3rem


@media (max-width: 419px)
  .search-box input:focus
    width: 8rem

@media (max-width: 719px)
  .navbar .site-name
    width: auto !important

input:focus
  outline-color #545454 !important
  box-shadow none
  border-color transparent

input
  outline none
  border none
  background-image none
  background-color transparent
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none  